@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: rgb(231, 231, 231);
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border: solid 1px #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

#result {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
  border-radius: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.clear {
  background-color: #ff4136;
  color: #fff;
}

.number,
.decimal {
  background-color: #ffffff;
  color: #000000;
}

.operator {
    background-color: #0074d9;
    color: #fff;
     font-size: 30px;
}

.equals{
    background-color: #01ff70;
    grid-row: span 3;
    color: #fff;
    font-size: 50px;
}
